@model OnlineTourismManagement.Models.OrderViewModel
@*@model dynamic*@
@{
    ViewBag.Title = "OrderPackage";
}

<div class="position-order"> 
    <h2 class="alignment">OrderPackage</h2>

    @using (Html.BeginForm("OrderPackage", "Order", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
            <div class="div-size">
                @Html.LabelFor(Model => Model.Name, new { @class = "signIn-label" })

                @Html.TextBoxFor(Model => Model.Name, new { @maxlength = "100", placeholder = "Enter your name", @class = "signUpForm" })
                <div style="margin-left: 230px;"> @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "error" }) </div>
            </div>
            <div class="div-size">
                @Html.LabelFor(Model => Model.UserMailId, new { @class = "signIn-label" })
                @Html.TextBoxFor(Model => Model.UserMailId, new { @maxlength = "100", placeholder = "Enter your registered mail id", @class = "signUpForm" })
                <div style="margin-left: 230px;">@Html.ValidationMessageFor(Model => Model.UserMailId, "", new { @class = "error" })</div>
            </div>
            <div class="div-size">
                @Html.LabelFor(Model => Model.MobileNumber, new { @class = "signIn-label" })
                @Html.TextBoxFor(Model => Model.MobileNumber, new { @maxlength = "10", placeholder = "Enter your mobile number", @class = "signUpForm" })
                <div style="margin-left: 230px;">@Html.ValidationMessageFor(Model => Model.MobileNumber, "", new { @class = "error" })</div>
            </div>
            <div class="div-size">
                @Html.LabelFor(Model => Model.FromDate, new { @class = "signIn-label" })
                @Html.TextBoxFor(Model => Model.FromDate, new { @type = "date", placeholder = "Enter departure date", @class = "signUpForm" })
                <div style="margin-left: 230px;"> @Html.ValidationMessageFor(Model => Model.FromDate, "", new { @class = "error" })</div>
            </div>
            @*<div>@Html.LabelFor(Model => Model.ToDate)</div>
                @Html.TextBoxFor(Model => Model.ToDate, new { @type = "date" })
                @Html.ValidationMessageFor(Model => Model.ToDate, "", new { @class = "error" })*@
            <div class="div-size">
                @Html.LabelFor(Model => Model.AdultsCount, new { @class = "signIn-label" })
                @Html.TextBoxFor(Model => Model.AdultsCount, new { placeholder = "Enter Adults count (+12)", @class = "signUpForm" })
                <div style="margin-left: 230px;">@Html.ValidationMessageFor(Model => Model.AdultsCount, "", new { @class = "error" })</div>
            </div>
            <div class="div-size">
                @Html.LabelFor(Model => Model.ChildrensCount, new { @class = "signIn-label" })
                @Html.TextBoxFor(Model => Model.ChildrensCount, new { placeholder = "Enter Childrens count (-12)", @class = "signUpForm" })
                <div style="margin-left: 230px;"> @Html.ValidationMessageFor(Model => Model.ChildrensCount, "", new { @class = "error" })</div>

                @Html.HiddenFor(Model => Model.PackageId, new { Value = (int)TempData.Peek("PackageId") })

                @Html.HiddenFor(Model => Model.PackagePrice, new { Value = (int)TempData.Peek("PackagePrice") })

                @*@Html.HiddenFor(Model => Model.PackagePrice, new { Value = (int)TempData.Peek("UserId") })*@
            </div>
            <div class="div-size alignment"><input type="submit" name="Submit" class="button" value="Order" /></div>
            @*<div>@Html.ActionLink("OrderPackage","Order",new { id=@ViewBag.Package.PackageId,type="button"})</div>*@
    }
</div>
