@model OnlineTourismManagement.Models.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
}

@*<link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />*@
@Html.Partial("_Content")
@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div>
        <table cellpadding="10" align="center">
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.FirstName, new { @maxlength = "30" })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.LastName)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.LastName, new { @maxlength = "30" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MobileNumber)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.MobileNumber, new { @maxlength = "10" })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.MobileNumber, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Gender)
                </td>
                <td>
                    @Html.RadioButtonFor(Model => Model.Gender, "Male")Male
                    @Html.RadioButtonFor(Model => Model.Gender, "Female")Female &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.Gender, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.DateOfBirth)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.DateOfBirth)
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.DateOfBirth, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MailId)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.MailId, new { @maxlength = "64" })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.MailId, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Password)
                </td>
                <td>
                    @Html.PasswordFor(Model => Model.Password, new { @maxlength = "20" })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(Model => Model.ConfirmPassword, new { @maxlength = "20" })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "error" })
                </td>
            </tr>
            <tr colspan="2">
                <td>
                    <input type="Submit" />
                </td>
            </tr>
        </table>
    </div>
}


