@model OnlineTourismManagement.Models.PackageTypeViewModel

@{
    ViewBag.Title = "AddPackageType";
}
    <h2 class="alignment">Package Types</h2>
@using (Html.BeginForm("AddPackageType", "PackageType",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div style="position:absolute;left:600px;">
        <div>
            @Html.LabelFor(Model => Model.PackageTypeName,new { @class="label"})
            &nbsp;
                @Html.TextBoxFor(Model => Model.PackageTypeName, new { @maxlength = "20", placeholder = "Enter package type",@class="input textbox"})
               &nbsp;@Html.ValidationMessageFor(Model => Model.PackageTypeName, "", new { @class = "error" })
        </div>
        <div>
            @Html.LabelFor(Model=>Model.ImageSource,new { @class="label"})
            &nbsp;
            <input type="file" id="image" name="ImageFile" required />
            &nbsp;@Html.ValidationMessageFor(Model => Model.ImageSource, "", new { @class="error"})
        </div>
        <br />
        <div>
            @Html.ActionLink("Cancel","ViewPackageType","PackageType","",new { @class="button"})
            
            &nbsp;<input type="submit" value="Add" class="button"/>
        </div>
        <br />
    </div>

}