@model OnlineTourismManagement.Models.PackageTypeViewModel

@{
    ViewBag.Title = "AddPackageType";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2 class="alignment">Package Types</h2>
@using (Html.BeginForm("AddPackageType", "PackageType", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="packageType-Position">
        <div>
            @Html.LabelFor(Model => Model.PackageTypeName, new { @class = "label" })

            @Html.TextBoxFor(Model => Model.PackageTypeName, new { @maxlength = "20", placeholder = "Enter package type", @class = "textbox" })
            <div style="margin-left: 130px;">@Html.ValidationMessageFor(Model => Model.PackageTypeName, "", new { @class = "error" })</div>
        </div>
        <div>
            @Html.LabelFor(Model => Model.ImageSource, new { @class = "label" })

            <input type="file" id="image" name="ImageFile" required class="textbox" />
            @Html.ValidationMessageFor(Model => Model.ImageSource, "", new { @class = "error" })
        </div>

        <div style="margin-left: 60px;">
            @Html.ActionLink("Cancel", "ViewPackageType", "PackageType", "", new { @class = "button" })

            <input type="submit" value="Add" class="button" />
        </div>
        <br />
    </div>

}