@model IEnumerable<OnlineTourismManagement.Entity.PackageType>
@{
    ViewBag.Title = "ViewPackageType";
}
<h2 class="alignment">Package Types</h2>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <div class="alignment">
        @Html.ActionLink("Add package type", "AddPackageType", "PackageType", "", new { @class = "redirectLink" })
    </div>
}
@if (TempData["Messages"] != null)
{
    @Html.Label((string)TempData["Messages"])
}
<br />
<table align="center" border="1" cellpadding="10" cellspacing="10">
    <tr>
        <td>Package Type</td>
        @if (ViewContext.HttpContext.User.IsInRole("Admin")) { <td>Action</td>}
        
    </tr>

    @foreach (OnlineTourismManagement.Entity.PackageType item in Model)
    {
        <tr>
            <td>@Html.ActionLink(@item.PackageTypeName, "ViewPackageByType", "Package", new { id = item.PackageTypeId },null)</td>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PackageTypeId, @class = "linkColor" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PackageTypeId, @class = "linkColor" }, new { onclick = "return confirm('Are you sure to delete ?');" })
                </td>
            }
        </tr>
    }

</table>

