@model IEnumerable<OnlineTourismManagement.Entity.PackageType>
@{
    ViewBag.Title = "ViewPackageType";
}
<div class="alignment">
    @Html.ActionLink("Add package type", "AddPackageType", "PackageType")
</div>
@if (TempData["Messages"] != null)
{
    @Html.Label((string)TempData["Messages"])
}
<table align="center" border="1">
    <tr>
        <td>Package Type</td>
        <td>Action</td>
    </tr>

    @foreach (OnlineTourismManagement.Entity.PackageType item in Model)
    {
        <tr>
            <td>@item.PackageTypeName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PackageTypeId })
                @Html.ActionLink("Delete", "Delete", new { id = item.PackageTypeId },new { onclick="return confirm('Are you sure to delete ?');"})
            </td>
        </tr>
    }

</table>

