@model OnlineTourismManagement.Models.ItineraryViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Update","Itinerary",FormMethod.Post))
{
    @Html.HiddenFor(Model=>Model.ItineraryId)
    @Html.HiddenFor(Model=>Model.DayName)
    @Html.HiddenFor(Model=>Model.PackageId)
    <table border="1" align="center">
        <tr>
            <td>@Html.LabelFor(Model => Model.HotelName)</td>
            <td>@Html.EditorFor(Model => Model.HotelName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.HotelLocation)</td>
            <td>@Html.EditorFor(Model => Model.HotelLocation)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.SightSeeing)</td>
            <td>@Html.EditorFor(Model => Model.SightSeeing)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.Meal)</td>
            <td>@Html.EditorFor(Model => Model.Meal)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Cancel", "ViewItinerary","Itinerary",new { id=Model.PackageId},null)</td>
            <td><input type="submit" value="Update" /></td>
        </tr>
    </table>
}

