@model OnlineTourismManagement.Models.PackageViewModel

@{
    ViewBag.Title = "CreatePackage";
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />
@using (Html.BeginForm("CreatePackage", "Package", FormMethod.Post))
{
    <div style="text-align:center">
        @Html.LabelFor(Model => Model.PackageName)
        <div>
            @Html.TextBoxFor(Model => Model.PackageName, new { @maxlength = "20" })
            <div>@Html.ValidationMessageFor(Model => Model.PackageName, "", new { @class = "error" })</div>
        </div>
        @Html.LabelFor(Model => Model.Duration)
        <div>
            @Html.TextBoxFor(Model => Model.Duration , new { @maxlength = "20" })
            <div>@Html.ValidationMessageFor(Model => Model.Duration, "", new { @class = "error" })</div>
        </div>
        @Html.LabelFor(Model => Model.Availability)
        <div>
            @Html.TextBoxFor(Model => Model.Availability , new { @maxlength = "20" })
            <div>@Html.ValidationMessageFor(Model => Model.Availability, "", new { @class = "error" })</div>
        </div>
        @Html.LabelFor(Model => Model.PackagePrice)
        <div>
            @Html.TextBoxFor(Model => Model.PackagePrice, new { @maxlength = "20" })
            <div> @Html.ValidationMessageFor(Model => Model.PackagePrice, "", new { @class = "error" })</div>
        </div>
        @Html.LabelFor(Model=>Model.PackageTypes)
        <div>
            @Html.DropDownListFor(Model=>Model.PackageTypeId,(IEnumerable<SelectListItem>)ViewBag.PackageTypes,"Select Package Type")
        </div>
        <br />
        <div>
            <input type="submit" value="Submit" />
        </div>
        <br />
        <div></div>
    </div>
}
