@model OnlineTourismManagement.Models.PackageViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Package", FormMethod.Post))
{
    @Html.HiddenFor(Model=>Model.PackageId)
    @Html.HiddenFor(Model=>Model.PackageType)
    <table cellpadding="10">
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.PackageName)
            </td>
            <td>
                @Html.EditorFor(Model => Model.PackageName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.PackagePrice)
            </td>
            <td>
                @Html.EditorFor(Model => Model.PackagePrice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Cancel", "ViewPackage")
            </td>
            <td>
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
}

