@model OnlineTourismManagement.Models.PackageViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="alignment">Edit Package</h2>
@using (Html.BeginForm("Update", "Package", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model=>Model.PackageId)
    <table cellpadding="10" style="position:relative; left:500px;">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.PackageName,new { @class="label"})
            </td>
            <td>
                @Html.EditorFor(Model => Model.PackageName,new { @class="input textbox"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.PackagePrice,new { @class="label"})
            </td>
            <td>
                @Html.EditorFor(Model => Model.PackagePrice,new { @class="input textbox"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.CreationDate,new { @class="label"})
            </td>
            <td>
                @Html.EditorFor(Model => Model.CreationDate,new { @class="input textbox"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UpdationDate,new { @class="label"})
            </td>
            <td>
                @Html.EditorFor(Model => Model.UpdationDate,new { @class="input textbox"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Duration,new { @class="label"})
            </td>
            <td>
                @Html.EditorFor(Model => Model.Duration,new { @class="input textbox"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Availability,new { @class="label"})
            </td>
            <td>
                @Html.EditorFor(Model => Model.Availability,new { @class="input textbox"})
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.ImageSource, new { @class = "label" })</td>
            @*<td> @Html.TextBoxFor(Model => Model.ImageFile, new { type = "file" })</td>*@
            <td><input type="file" id="image" name="ImageFile" /></td>
            <td><img height="200" weigth="200" src="@Url.Content(Model.ImageSource)" alt=@Model.PackageName></td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Cancel", "ViewPackage","Package","",new { @class="button"})
            </td>
            <td>
                <input type="submit" value="Update" class="button"/>
            </td>
        </tr>
    </table>
}

