@model IEnumerable<OnlineTourismManagement.Entity.Package>
@{
    ViewBag.Title = "ViewPackage";
}
<div class="alignment">
    @Html.ActionLink("Add Package", "CreatePackage", new { @style = "text-align:center" })
</div>
<br />
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
}
<table border="1" align="center" class="table">
    <tr>
        <td>Package Name</td>
        <td>Package Price</td>
        <td>Creation Date</td>
        <td>Updation Date</td>
        <td>Duration</td>
        <td>Availability</td>
        <td>Package type</td>
        <td>Action</td>
    </tr>
    @foreach (OnlineTourismManagement.Entity.Package item in Model)
    {
        <tr>
            <td>
                @item.PackageName
            </td>
            <td>
                @item.PackagePrice
            </td>
            <td>
                @item.CreationDate
            </td>
            <td>
                @item.UpdationDate
            </td>
            <td>
                @item.Duration
            </td>
            <td>
                @item.Availability
            </td>
            <td>
                @item.PackageTypes.PackageTypeName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Package",new { id = item.PackageId },null)
                @Html.ActionLink("Delete", "Delete","Package", new { id = item.PackageId },new { onclick="return confirm('Are you sure to delete ?');"})
                @Html.ActionLink("View Itinerary", "ViewItinerary","Itinerary",new { id = item.PackageId },null )
                @Html.ActionLink("Add Itinerary","AddItinerary","Itinerary",new { id = item.PackageId, duration = item.Duration },null)
            </td>
        </tr>
    }
</table>

