
@{
    ViewBag.Title = "ViewPackage";
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}
<div class="alignment">
    @Html.ActionLink("Add Package", "CreatePackage", new { @style = "text-align:center" })
</div>
<br />
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
}
<table border="1" align="center">
    <tr>
        <td>Package Name</td>
        <td>Package Price</td>
        <td>Creation Date</td>
        <td>Updation Date</td>
        <td>Duration</td>
        <td>Availability</td>
        <td>Package type Id</td>
        <td>Action</td>
    </tr>
    @foreach (OnlineTourismManagement.Entity.Package item in ViewBag.Packages)
    {
        <tr>
            <td>
                @item.PackageName
            </td>
            <td>
                @item.PackagePrice
            </td>
            <td>
                @item.CreationDate
            </td>
            <td>
                @item.UpdationDate
            </td>
            <td>
                @item.Duration
            </td>
            <td>
                @item.Availability
            </td>
            <td>
                @item.PackageTypeId
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Package",new { id = item.PackageId },null)
                @Html.ActionLink("Delete", "Delete","Package", new { id = item.PackageId },null)
                @Html.ActionLink("Add Itinerary", "AddItinerary","Itinerary", new { id = item.PackageId, duration = item.Duration },null)
            </td>
        </tr>
    }
</table>

