@model OnlineTourismManagement.Models.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
}
@*@Html.Partial("_Content")*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/custom-validators.js"></script>
<div class="image-container">
    <img src="~/Images/SignUp.jpg" class="signUpImage"/>
</div>
    <div class="position-signup">
        <h2 class="alignment">Welcome..!</h2>
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-position">
                <div class="div-size">
                    @Html.LabelFor(Model => Model.FirstName, new { @class = "signIn-label" })
                    @Html.TextBoxFor(Model => Model.FirstName, new { @maxlength = "30", placeholder = "Enter first name", @class = "signUpForm" })
                    <div class="error-position-signup">@Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "error" })</div>
                </div>
                <div class="div-size">
                    @Html.LabelFor(Model => Model.LastName, new { @class = "signIn-label" })
                    @Html.TextBoxFor(Model => Model.LastName, new { @maxlength = "30", placeholder = "Enter last name", @class = "signUpForm" })
                </div>
                <div class="div-size">
                    @Html.LabelFor(Model => Model.MobileNumber, new { @class = "signIn-label" })
                    @Html.TextBoxFor(Model => Model.MobileNumber, new { @maxlength = "10", placeholder = "Mobile number",@type="number", @class = "signUpForm" })
                    <div class="error-position-signup"> @Html.ValidationMessageFor(Model => Model.MobileNumber, "", new { @class = "error" })</div>
                </div>
                <div class="div-size">
                    @Html.LabelFor(Model => Model.Gender, new { @class = "signIn-label" })

                    @Html.RadioButtonFor(Model => Model.Gender, "Male",new { @class="radio"})Male
                    @Html.RadioButtonFor(Model => Model.Gender, "Female")Female
                    @Html.RadioButtonFor(Model => Model.Gender, "Others")Others
                    <div class="error-position-signup"> @Html.ValidationMessageFor(Model => Model.Gender, "", new { @class = "error" }) </div>
                </div>
                <div class="div-size">
                    @Html.LabelFor(Model => Model.DateOfBirth, new { @class = "signIn-label" })
                    @Html.TextBoxFor(Model => Model.DateOfBirth, new { @type = "date", @class = "signUpForm" })
                    <div class="error-position-signup">@Html.ValidationMessageFor(Model => Model.DateOfBirth, "", new { @class = "error" }) </div>
                </div>
                <div class="div-size">
                    @Html.LabelFor(Model => Model.MailId, new { @class = "signIn-label" })
                    @Html.TextBoxFor(Model => Model.MailId, new { @maxlength = "64", placeholder = "Email address", @class = "signUpForm" })
                    <div class="error-position-signup">@Html.ValidationMessageFor(Model => Model.MailId, "", new { @class = "error" })</div>
                </div>
                <div style="height:150px;">
                    @Html.LabelFor(Model => Model.Password, new { @class = "signIn-label" })

                    @Html.PasswordFor(Model => Model.Password, new { @maxlength = "20", placeholder = "Password", @class = "signUpForm" })
                    <div class="error-position-signup">@Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error" })</div>
                    <div class="div-size alignment password-position">
                        <ul >
                            <li>
                                Your password should have more than 6 characters.
                            </li>
                            <li> Atleast one capital and small letter.</li>
                            <li> Atleast one number.</li>
                            <li> Atleast one special character.</li>
                        </ul>
                    </div>
                </div>
                <div class="div-size">
                    @Html.LabelFor(Model => Model.ConfirmPassword, new { @class = "signIn-label" })
                    @Html.PasswordFor(Model => Model.ConfirmPassword, new { @maxlength = "20", placeholder = "Enter password again", @class = "signUpForm" })
                    <div class="error-position-signup">@Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "error" })</div>
                </div>
            </div>
            <div style="text-align:center;" class="div-size">
                <input type="Submit" value="Register" class="button" />
                <input type="reset" name="Reset" value="Reset" class="button" />
            </div>
            <div class="account div-size alignment">
                Already registered user ? @Html.ActionLink("Sign In", "SignIn", "Account", new { @class = "link-decoration" })

            </div>
        }
    </div>

