@model OnlineTourismManagement.Models.SignInViewModel

@{
    ViewBag.Title = "SignIn";
}

@*@Html.Partial("_Content")*@

<div class="signIn-image">
        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <br /><br />
                  <div class="signIn-position">
                      <h1>Sign In</h1>
                      <div>
                          @Html.LabelFor(Model => Model.MailId, new { @class = "signIn-label" })

                          @Html.TextBoxFor(Model => Model.MailId, new { placeholder = "Enter your mail id", @maxlength = "64", @class = "signIn-textbox" })

                          @Html.ValidationMessageFor(Model => Model.MailId, "",new { @class = "error" })
                      </div>
                     
                      <div>
                          @Html.LabelFor(Model => Model.Password, new { @class = "signIn-label" })

                          @Html.PasswordFor(Model => Model.Password, new { placeholder = "Enter your password", @maxlength = "20", @class = "signIn-textbox" })

                          @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error" })
                      </div>
                      <div>
                          <input type="Submit" value="Sign In" class="button" />
                          <input type="reset" name="Reset" value="Reset" class="button" />
                      </div>

                      @if (TempData["Message"] != null)
                      {
                          <script type="text/javascript">
                   window.onload = function () {
                        alert("@TempData["Message"]");
                   };
                          </script>
                      }
                      <div class="account">
                          Don't have an account ? @Html.ActionLink("Sign Up", "SignUp", "Account")
                      </div>

                  </div>
        }
    </div>







