@model OnlineTourismManagement.Models.SignInViewModel

@{
    ViewBag.Title = "SignIn";
}

@*@Html.Partial("_Content")*@
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"], new { @class = "heading" })
}
@using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
{
    <div>
        <div class="signin">
            <br />
            <img src="~/Images/SignIn.jpg" alt="Image" class="signInImage" style="height:500px;width:500px;margin-left:150px;border:solid" />
        </div>
        <br /><br />
        <div class="design">
            <h2 class="alignment font">Welcome..! </h2>
            <div>
                @Html.LabelFor(Model => Model.MailId, new { @class = "label_username" })
               
                @Html.TextBoxFor(Model => Model.MailId, new { placeholder = "Enter your mail id", @class = "form input text_MailId", @maxlength = "64" })
            
                @Html.ValidationMessageFor(Model => Model.MailId, "", new { @class = "error username" })
            </div>
            <div>
                @Html.LabelFor(Model => Model.Password, new { @class = "label_password" })

                @Html.PasswordFor(Model => Model.Password, new { placeholder = "Enter your password", @maxlength = "20" ,@class="input text_Password"})

                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error password" })
            </div>
            <div>
                <input type="Submit" value="Sign In" class="button" id="signin_button" />
            </div>
            <div class="account">
                Don't have an account ? @Html.ActionLink("Sign Up", "SignUp", "Account")
            </div>
                
        </div>
    </div>
}

