@model OnlineTourismManagement.Models.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
}
@*@Html.Partial("_Content")*@
@using OnlineTourismManagement.Models
@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="signin">
        <br />
        <img src="~/Images/SignUp.jpg" alt="Image" class="signInImage" style="height:500px;width:500px;margin-left:150px;border:solid" />
        @*@Html.Image("Images/SignUp", "Sign up image", "100")*@
    </div>
    <div class="design">
        <h2 class="alignment font">Welcome..!</h2>
        <table cellpadding="10" align="center" class="decoration">
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.FirstName, new { @maxlength = "30" ,placeholder="Enter first name" ,@class="signUpForm "})
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.FirstName, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.LastName)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.LastName, new { @maxlength = "30",placeholder="Enter last name" ,@class="signUpForm "})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MobileNumber)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.MobileNumber, new { @maxlength = "10",placeholder="Mobile number" ,@class="signUpForm "})
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.MobileNumber, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Gender)
                </td>
                <td>
                    @Html.RadioButtonFor(Model => Model.Gender, "Male")Male
                    @Html.RadioButtonFor(Model => Model.Gender, "Female")Female &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.Gender, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.DateOfBirth)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.DateOfBirth,new { @type="date",@class="signUpForm "})
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.DateOfBirth, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.MailId)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.MailId, new { @maxlength = "64",placeholder="Email address",@class="signUpForm " })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.MailId, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Password)
                </td>
                <td>
                    @Html.PasswordFor(Model => Model.Password, new { @maxlength = "20",placeholder="Password" ,@class="signUpForm "})
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "error" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(Model => Model.ConfirmPassword, new { @maxlength = "20",placeholder="Confirm password",@class="signUpForm " })
                </td>
                <td>
                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @class = "error" })
                </td>
            </tr>
            <tr >
                <td colspan="2" class="alignment">
                    <input type="Submit" value="Register" class="button"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="alignment font" >Already registered user ? @Html.ActionLink("Sign In","SignIn","Account")</td>
            </tr>
        </table>
    </div>
}


