<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />
</head>
<body>
    <header>
        <div>
            <img src="~/Images/Logo.png" alt="Logo" style="width:400px;height:70px;" />
        </div>

    </header>
    <br />  <br />
    <div class="link">
        @Html.ActionLink("Home", "Home", "Homepage", null, new { @class = "menu" })
        @Html.ActionLink("Packages", "", "", null, new { @class = "menu" })
        @Html.ActionLink("Giftcards", "", "", null, new { @class = "menu" })
        @Html.ActionLink("Register", "SignUp", "Account", null, new { @class = "menu" })

        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <span> @Html.ActionLink("View Package", "ViewPackage", "Package", null, new { @class = "menu" }) </span>

            <span> @Html.ActionLink("View Package type", "ViewPackageType", "PackageType", null, new { @class = "menu" }) </span>
        }
        @if (HttpContext.Current.User.IsInRole("User"))
        {

        }

        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <span> @Html.ActionLink("Logout", "LogOut", "Account", null, new { @class = "menu" }) </span>
        }
        else
        {
            <span> @Html.ActionLink("SignIn", "SignIn", "Account", null, new { @class = "menu" }) </span>
        }
    </div>
    <br /><br />
    <div>
        @RenderBody()
    </div>
</body>
</html>



