<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />
</head>
<body>
    <header style="text-align:center">
        <h1>Online Tourism Management</h1>
    </header>
    <div class="link">
        @Html.ActionLink("Home", "Home","Homepage") &nbsp;&nbsp;
        @Html.ActionLink("Sign In", "SignIn","User") &nbsp;&nbsp;
        @Html.ActionLink("Sign Up", "SignUp","User")
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        Time To Travel
    </footer>

</body>
</html>



