<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />
</head>
<body>
    <div>
        <header>
            <h1 style="text-align:center">TIME TO TOUR</h1>
        </header>
        <div class="image">

        </div>
        <div class="link">
            @Html.ActionLink("Home", "Home", "Homepage") &nbsp;&nbsp;
            @Html.ActionLink("Sign In", "SignIn", "User") &nbsp;&nbsp;
            @Html.ActionLink("Sign Up", "SignUp", "User")
        </div>
        <div>
            @RenderBody()
        </div>

    </div>
   
</body>
</html>



